/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
  width:100%;
  margin:0;
  padding: 0;
}

/*html,
body {
  width:100%;
  overflow-x: hidden;
}*/

body {
  font-family: $Roboto-font;
  font-weight: $regular;
  color: $txtColour;
  @include font-size(14);

  & > section {
    overflow: hidden;
  }

}



