/****************************************
*
* Base stylesheet
*
*****************************************/

html {
  font-size: $baseFontSize;
}

html,
body {
  width:100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: $Myriad-Pro-font;
  font-weight: $regular;
  color: $txtColour;
  @include font-size(14);

  & > section {
    overflow: hidden;
  }

}



