/****************************************
*
* Global stylesheet
*
*****************************************/
body {

  .page-wrapper {

    h1 {
      position: absolute;
      z-index: 10;
      width:135px;
      height:248px;
      top:0;
      left: 76px;
      text-indent: -10000px;
      background: transparent url("#{$pathToImages}/60Bricks-logo-sml.jpg") 0 0 no-repeat;

    }

    header {
      position: relative;

      .hero {
        position: relative;
        height: 690px;
        overflow: hidden;

        .hero-slider {}

        .hero-panel {
          position: absolute;
          z-index: 2;
          @include centerer;
          width: 700px;
          height: 175px;
          background-color: $white75;
          padding:15px 57px;

          h2 {
            text-align: center;
            color: $accentBlue;
            @include font-size(34);
            font-weight: $regular;
            line-height: 45px;
          }
        }
      }




    }

    .place-for-everyone {
      position: relative;

      img {
        width: 100%;
        margin-bottom: -6px;
      }

      .place-for-everyone-panel {
        width: 900px;
        height: 660px;
        @include centerer;
        background-color: $white;
      }
    }

    footer {
      background-color: $accentBlue;
      color: $white;
      min-height: 250px;
      overflow: hidden;

      a {
        color: $white;
        @include font-size(16);
      }

      .sticky-footer {
        @include flex-container(row,space-between);
        padding: 10px 55px;
        margin-bottom: -65px;
        height: 62px;

        &.fixed {
          position: fixed;
          width:100%;
          bottom: 62px;
          z-index: 100;
          background-color: $accentBlue;
        }

        .social {

          .social-link {
            @include font-size(28);
            margin-right: 15px;
          }
        }

        .register {

          a {
            text-decoration: none;
            padding-right: 35px;
            background: transparent url("#{$pathToImages}/small-arrow.png") 100% 50% no-repeat;
            background-size: 22px 14px;
            @include font-size(16);
            font-weight: $regular;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .footer-footer {
        margin:  180px 0 35px;
        height: 70px;
        padding: 10px 55px;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "navigation copyright logos";

        a,p {
          @include font-size(16);
          font-weight: $light;
        }

        .footer-nav {
          grid-area: navigation;

          ul {
            @include flex-container(row, flex-start);
            margin-top: 40px;

            li {

              a {
                padding:0 8px;
                text-decoration: none;

                &:hover {
                  text-decoration: underline;
                }

              }

              &:nth-child(1) {

                a {
                  padding-left:0;
                }
              }

              &:not(:last-child) {

                a {
                  border-right:1px solid $white;
                }
              }
            }
          }
        }

        .copyright {
          grid-area: copyright;

          p {
            margin-top: 40px;
          }
        }

        .logos {
          grid-area: logos;
          text-align: right;

          a {
            display: inline-block;
            width: 106px;
            height:59px;
            background: transparent url("#{$pathToImages}/Waltham-Forest-logo.png") 0 0 no-repeat;
            background-size: 106px 59px;
          }
        }
      }
    }
  }
}