/****************************************
*
* Typographic styles
*
*****************************************/

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700');*/


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


$Montserrat-font: 'Montserrat', sans-serif;
$Roboto-font: 'Roboto', sans-serif;
.montserrat-font {font-family: $Montserrat-font};
.roboto-font {font-family: $Roboto-font};



$sourceSansPro: 'sans-serif';

//font weights
$extraLight:200;
$light:     300;
$regular:   400;
$medium:    500;
$semiBold:  600;
$bold:      700;


.extra-light      {font-weight: $extraLight;}

.light            {font-weight: $light}
//.light-italic     {font-weight: $light;font-style: italic;}
.regular          {font-weight: $regular;}
//.regular-italic   {font-weight: $regular;font-style: italic;}
.semi-bold        {font-weight: $semiBold;}
//.semi-bold-italic {font-weight: $semiBold;font-style: italic;}
.medium           {font-weight: $medium;}
.bold             {font-weight: $bold;}

.centre {text-align: center}

h1{
  font-family: $Roboto-font;
  font-weight: $regular;
  @include font-size(65);
}

h2 {
  font-family: $Roboto-font;
  font-weight: $regular;
  @include font-size(45);
}