/******************************************************************************************
*
*
*
*   Styles for tablet portrait down i.e. < 768px
*
*
*
*******************************************************************************************/

body {
  width:100%;
  overflow-x: hidden;

  /*&:before {// TODO: remove for test only
    position: fixed;
    top: 0;
    z-index: 1000;
    content: 'Tablet Portrait';
    color: $suntrapOrange;
    @include font-size(26);
  }*/

  &.homepage {

    .hero {

      .hero-content {

        h1 {
        }
      }
    }
  }

  .connect {

    .connect-content {

      .connect-details {
        padding: 100px 50px!important;

        .inner {

          h2 {
          }
        }
      }
    }
  }
}